.jumbotron {
  background: url('/images/products/ICONIC_Z5/Iconic_Z5_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  z-index: -1;
}